@font-face {
  font-family: 'onelove';
  src:  url("../fonts/1ove.ttf") format("ttf"), 
        url("../fonts/1ove.woff") format("woff"); 
}

body {
  margin: 0;
  font-family:  onelove, courier, arial, helvetica;
  color: #000;
}

strong, small, span, em, a {
  display: inline-block;
}

a {
  text-decoration: none;
  outline: none;
  color: #c27f05; 
}

h1 {
    font-family: inherit;
    font-size: 2.4em;
    margin: 300px 0 0 0;
    font-weight: normal;
    color: #000 ;
    width: fit-content;
}

.about {
    font-size: 2rem;
    padding: 0 5%;
}

.stint>p:first-of-type {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    margin: 0;
    padding: 0;
}

.insight {
    font-size: 1.6rem;
    letter-spacing: .019rem;
}

.active>a {
    color: white !important;
    background-color: black;
    border-radius: 3px 0 0 3px;
    padding: 2% 6% !important;
}

.bg {
    min-height: 100vh;
    background:  rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%

}

.stint {
    padding: 0 5%;
}

.experience {
    margin: 200px 0;
}

.spread {
    line-height: 1.2rem;
    letter-spacing: .1rem;
}

.whodis {
    background-image: url(../img/hugh-mosno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    background-position: 50% 0%; 
  }