:root {
    --black: #2e2e2e;
    --white: #adadad;
    --dark-gray: #181919;
    --light-gray: #cfcfcf;
    --off-white: #f7f7f2;
    --num: calc(clamp(150px, 100vw, 1920px) / 428);
    --min: calc(clamp(150px, 100vw, 768px) /428);
}

@font-face {
  font-family: 'onelove';
  src:  url("../fonts/1ove.ttf") format("ttf"), 
        url("../fonts/1ove.woff") format("woff"); 
}

body {
  margin: 0;
  font-family:  onelove, courier, arial, helvetica;
  color: #adadad;
  background-color: #2e2e2e;
}

strong, small, span, em, a {
  display: inline-block;
}

a {
  text-decoration: none;
  outline: none;
  color: #c27f05; 
}


h1 {
    font-family: inherit;
    font-size: 2.4em;
    margin: 300px 0 0 0;
    font-weight: normal;
    width: fit-content;
}

.about {
    font-size: 2rem;
    padding: 0 5%;

    & img {
      height: calc(var(--min) * 30);
      filter: saturate(.5);
    }
}

.stint>p:first-of-type {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    margin: 0;
    padding: 0;
}

.stint img {
  height: calc(var(--min) * 15);
  width: calc(var(--min) * 15);
  filter: saturate(.5);
}

.insight {
    font-size: 1.6rem;
    letter-spacing: .019rem;
}

.active>a {
    color: white !important;
    background-color: black;
    border-radius: 3px 0 0 3px;
    padding: 2% 6% !important;
}

.bg {
    min-height: 100vh;
    background:  rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%

}

.stint {
    padding: 0 5%;
}

.experience {
    margin: 200px 0 50px;
}

.spread {
    line-height: 1.2rem;
    letter-spacing: .1rem;
}

.whodis {
    background-image: url(../img/hugh-mosno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    background-position: 50% 0%; 
  }

.side-note {
    color: #7c7979;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 2px dotted #555;
}

.whobemewhenwebethree {
    display: block;
    background: black;
    color: #adadad;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0 0 5px;
  }

.hilight {
    background-color: orange;
    color: #333;
    padding: 5px 10px;
    margin: 0 
}

.big {
    display: none;
  } 

@media (min-width: 768px) {
    .big {
      display: block;
    }
  }

.hidden {
  display: none;
}

.previouslyOnLawAndOrder {
  padding: 0 5%;
}